<script type="text/javascript" src="../../code/index.js"></script>

<div id="mainWrapper" class="ui-corner-all wrapper">
	<div id="dialogWrapper">
		<div id="startDialog" class="ui-widget-content ui-corner-all">
			<p>In dieser Anwendung kannst du mit mehreren Nutzern gleichzeitig an einem Tabellendokument arbeiten.</p>
			<p>Gib bitte deinen Namen an, damit andere Nutzer sehen können, wer mit ihnen zusammenarbeitet:</p>
			<input type="text" id="userNameInput" class="ui-widget-content ui-corner-all"/>

			<div id="openCreatePanel" style="display:none">
				<p>Öffne eine der vorhandenen Tabellen:</p>
				<ul id="documentList">
					{{#each documents}}
		  			<li><a href="spreadsheet/{{this}}">{{this}}</a></li>
		  			{{/each}}
				</ul>

				<p>Oder erstelle eine neue:</p>
				<input type="text" id="docNameInput" class="ui-widget-content ui-corner-all"/>
				<button id="createDocButton">Erstellen</button>
			</div>
			<p id="demoWarning">Bitte keine wichtigen Daten in den Tabellen sichern! Diese Anwendung dient nur zur Demonstration und die Daten werden nicht dauerhaft gespeichert.</p>
		</div>	
	</div>
</div>

